<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bst.pidms.dao.BindLabelFileMapper">
    <resultMap id="BaseResultMap" type="com.bst.pidms.entity.BindLabelFile">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="label_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="file_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="category" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tb_label_file
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.bst.pidms.entity.BindLabelFile">
        insert into tb_label_file (id, label_id, file_id,
        category)
        values (#{id,jdbcType=INTEGER}, #{labelId,jdbcType=INTEGER}, #{fileId,jdbcType=INTEGER},
        #{category,jdbcType=INTEGER})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.bst.pidms.entity.BindLabelFile">
        update tb_label_file
        set label_id = #{labelId,jdbcType=INTEGER},
        file_id = #{fileId,jdbcType=INTEGER},
        category = #{category,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select id, label_id, file_id, category
        from tb_label_file
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, label_id, file_id, category
        from tb_label_file
    </select>
    <select id="selectCountByCategory" resultType="java.lang.Integer">
        select count(id)
        from tb_label_file
        where label_id = #{labelId,jdbcType=INTEGER}
        and category = #{category,jdbcType=INTEGER}
    </select>
    <select id="selectFileIdByLabelId" resultType="java.lang.Integer">
        select file_id
        from tb_label_file
        where label_id=#{labelId,jdbcType=INTEGER}
    </select>
</mapper>