<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bst.pidms.dao.BindFileTimelineMapper">
    <resultMap id="BaseResultMap" type="com.bst.pidms.entity.BindFileTimeline">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="file_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="timeline_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_file_timeline
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.bst.pidms.entity.BindFileTimeline">
    insert into tb_file_timeline (id, file_id, timeline_id
      )
    values (#{id,jdbcType=INTEGER}, #{fileId,jdbcType=INTEGER}, #{timelineId,jdbcType=INTEGER}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.bst.pidms.entity.BindFileTimeline">
    update tb_file_timeline
    set file_id = #{fileId,jdbcType=INTEGER},
      timeline_id = #{timelineId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, file_id, timeline_id
    from tb_file_timeline
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, file_id, timeline_id
    from tb_file_timeline
  </select>
    <select id="selectByTime" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select file_id
    from tb_file_timeline
    where timeline_id = #{timelineId,jdbcType=INTEGER}
    </select>
</mapper>