<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bst.pidms.dao.LabelMapper">
    <resultMap id="BaseResultMap" type="com.bst.pidms.entity.Label">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="insight" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="pid" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tb_label
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.bst.pidms.entity.Label" keyProperty="id">
        insert into tb_label (id, user_id, name,
        insight,pid)
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
        #{insight,jdbcType=BIT},#{pid,jdbcType=INTEGER})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.bst.pidms.entity.Label">
        update tb_label
        set user_id = #{userId,jdbcType=INTEGER},
        name = #{name,jdbcType=VARCHAR},
        insight = #{insight,jdbcType=BIT},
        pid=#{pid,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select id, user_id, name, insight,pid
        from tb_label
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, user_id, name, insight,pid
        from tb_label
    </select>
    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.bst.pidms.entity.Label">
        select id,user_id,name,insight,pid
        from tb_label
        <where>
            <if test="userId!=null">
                and user_id=#{userId,jdbcType=INTEGER}
            </if>
            <if test="name!=null">
                and name=#{name,jdbcType=VARCHAR}
            </if>
            <if test="insight!=null">
                and insight=#{insight,jdbcType=BIT}
            </if>
            <if test="pid!=null">
                and pid=#{pid,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    <select id="selectTreeByCid" resultMap="BaseResultMap">
        select *
        from tb_label
        where user_id = #{userId,jdbcType=INTEGER}
        and id=#{id,jdbcType=INTEGER}
    </select>
    <select id="selectTreeByPid" resultMap="BaseResultMap">
        select *
        from tb_label
        where user_id = #{userId,jdbcType=INTEGER}
        and insight=true
        and pid=#{pid,jdbcType=INTEGER}
    </select>
</mapper>