<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bst.pidms.dao.OwnFileMapper">
    <resultMap id="BaseResultMap" type="com.bst.pidms.entity.OwnFile">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="catalog_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="category" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="size" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="server_time" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="upload_time" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="keyword" javaType="java.lang.String" jdbcType="CHAR"/>
            <arg column="tag" javaType="java.lang.String" jdbcType="CHAR"/>
            <arg column="info" javaType="java.lang.String" jdbcType="CHAR"/>
            <arg column="collection" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="attention" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="downloads" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="views" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="scale" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="recycle" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_file
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.bst.pidms.entity.OwnFile">
    insert into tb_file (id, user_id, catalog_id, 
      category, size, server_time, 
      upload_time, keyword, tag, 
      info, collection, attention, 
      downloads, views, scale, 
      recycle)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{catalogId,jdbcType=INTEGER}, 
      #{category,jdbcType=INTEGER}, #{size,jdbcType=INTEGER}, #{serverTime,jdbcType=INTEGER}, 
      #{uploadTime,jdbcType=INTEGER}, #{keyword,jdbcType=CHAR}, #{tag,jdbcType=CHAR}, 
      #{info,jdbcType=CHAR}, #{collection,jdbcType=INTEGER}, #{attention,jdbcType=INTEGER}, 
      #{downloads,jdbcType=INTEGER}, #{views,jdbcType=INTEGER}, #{scale,jdbcType=INTEGER}, 
      #{recycle,jdbcType=INTEGER})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.bst.pidms.entity.OwnFile">
    update tb_file
    set user_id = #{userId,jdbcType=INTEGER},
      catalog_id = #{catalogId,jdbcType=INTEGER},
      category = #{category,jdbcType=INTEGER},
      size = #{size,jdbcType=INTEGER},
      server_time = #{serverTime,jdbcType=INTEGER},
      upload_time = #{uploadTime,jdbcType=INTEGER},
      keyword = #{keyword,jdbcType=CHAR},
      tag = #{tag,jdbcType=CHAR},
      info = #{info,jdbcType=CHAR},
      collection = #{collection,jdbcType=INTEGER},
      attention = #{attention,jdbcType=INTEGER},
      downloads = #{downloads,jdbcType=INTEGER},
      views = #{views,jdbcType=INTEGER},
      scale = #{scale,jdbcType=INTEGER},
      recycle = #{recycle,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, catalog_id, category, size, server_time, upload_time, keyword, 
    tag, info, collection, attention, downloads, views, scale, recycle
    from tb_file
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, catalog_id, category, size, server_time, upload_time, keyword, 
    tag, info, collection, attention, downloads, views, scale, recycle
    from tb_file
  </select>
</mapper>